.h1 {
    font-family: inter;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 80px;
}

.container {
    padding-left: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 60px;
    width:98%;
}

.item {
    margin: 0 50px;
    width: 40vw;
    height: 250px;
    border-radius: 10px;
    background-color: #11151eb4;
    backdrop-filter: blur(15px);
}

.offset {
    margin-top: calc(250px / 2);
}

.containerHeader {
    font-family: inter;
    font-weight: bolder;
    font-size: 28px;
    margin: 15px;
    text-align: center;
}

.tokenInfoItem {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.addyButton {
    max-width: 96vw;
    box-shadow: 0 0 50px 1px #00bbd479;
    cursor:pointer;
    background-color: #11151e;
    border: 1px solid #ffffff;
    font-family: inter;
    padding:8px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.addyButton:hover {
    background: var(--textDefault);
    color:#000000;
}

.containerP {
    text-align: center;
    padding: 15px;
    color:#ffffffd0;
    line-height: 23px;
    font-family: inter;
}

.homesStat {
    border: 1px solid #ffffff;
}

.statCont {
    margin-top: 30px;
    display:flex;
    width:100%;
    justify-content: space-around;
}

.movetoFront {
    align-self: flex-start;
    justify-self: flex-start;
}

.statItem {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height:80px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.statValue {
    font-size: 20px;
    font-family: numbas;
    margin-top: 16px;
}

.statLabel {
    color:#ffffffa6;
    font-size: 14px;
    font-family: inter;
}

.partnerProjects {
    margin-top: 50px;
    font-family: inter;
    font-size: 14px;
    text-align: center;
}

.partnerDenote {
    margin-top: 20px;
    font-family: inter;
    font-size: 10px;
    text-align: center;
    color: #ffffff83;
}

@media (max-width: 1160px) {
    .container {
        padding-left: 0;
    }
    .statItem {
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90px;
        height:60px;
        border: 1px solid #ffffff;
        border-radius: 10px;
    }
    
    .statValue {
        font-size: 12px;
        font-family: numbas;
        margin-top: 16px;
    }
    
    .statLabel {
        color:#ffffffa6;
        font-size: 10px;
        font-family: inter;
    }
    .container {
        justify-content: center;
    }
    .item {
        width: 92vw;
        margin: 50px 0;
    }
    .offset {
        margin: 50px 0;
    }
}
  
